<template>
  <no-ssr placeholder="loading...">
    <fragment>
      <c-hero-full class="illustration-section-01" />
      <c-clients top-divider bottom-divider />
      <c-features-tiles />
      <c-generic-section top-divider class="center-content">
        <c-section-header
          :data="genericSection01Header"
          class="reveal-from-bottom"
        />
        <div class="reveal-from-bottom">
          <a
            data-video="https://player.vimeo.com/video/174002812"
            href="#"
            aria-controls="video-modal"
            @click.prevent="videoModalActive = true"
          >
            <c-image
              :src="require('@/assets/images/video-placeholder.svg')"
              alt="Video"
              :width="712"
              :height="400"
            />
          </a>
        </div>
        <c-modal
          id="video-modal"
          :active.sync="videoModalActive"
          video="https://player.vimeo.com/video/174002812"
          video-tag="iframe"
        />
      </c-generic-section>
      <c-features-split invert-mobile top-divider image-fill />
      <c-pricing top-divider pricing-switcher />
      <c-cta split />
    </fragment>
  </no-ssr>
</template>

<script>
// import layout
import CLayout from "@/layouts/LayoutDefault.vue"
// import section header
import CSectionHeader from "@/components/sections/partials/SectionHeader.vue"
// import sections
import CHeroFull from "@/components/sections/HeroFull.vue"
import CClients from "@/components/sections/Clients.vue"
import CFeaturesTiles from "@/components/sections/FeaturesTiles.vue"
import CGenericSection from "@/components/sections/GenericSection.vue"
import CFeaturesSplit from "@/components/sections/FeaturesSplit.vue"
import CPricing from "@/components/sections/Pricing.vue"
import CCta from "@/components/sections/Cta.vue"
// import some reuqired elements
import CImage from "@/components/elements/Image.vue"
import CModal from "@/components/elements/Modal.vue"

export default {
  name: "Home",
  components: {
    CSectionHeader,
    CHeroFull,
    CClients,
    CFeaturesTiles,
    CGenericSection,
    CFeaturesSplit,
    CPricing,
    CCta,
    CImage,
    CModal
  },
  data() {
    return {
      genericSection01Header: {
        title:
          "Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit"
      },
      videoModalActive: false
    }
  },
  created() {
    this.$emit("update:layout", CLayout)
  }
}
</script>
