<template>
  <div class="brand">
    <h1 class="m-0">
      <router-link to="/">
        <c-image
          :src="require('@/assets/images/DeepFlow_logo_white_web.png')"
          alt="Cube"
          :width="200"
          :height="200"
        />
      </router-link>
    </h1>
  </div>
</template>

<script>
import CImage from "@/components/elements/Image.vue"

export default {
  name: "CLogo",
  components: {
    CImage
  }
}
</script>
